---
---

@import "minima";

body {
  background: url('general/crossword.png');
}

.about-me__profile-pic {
  display: block;
  border-radius: 100%;
  margin: 0 auto 2rem;

  box-shadow: 8px 8px 10px #aaa;
  border: 2px solid #fff;

  width: 10rem;
}

.post-header {
  display: block;
  margin: 0 auto 2rem;

  &--elm {
    @extend .post-header;
    
    width: 10rem;
  }
}

.logo-title {
  height: 2.5rem;
}